@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #f4f6fb;
  color: #111;
}

/* BUTTON */
button {
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

/* INPUT */
input {
  outline: none;
}